img {
    height: auto;
    width: 300px;
}

h1 {
    text-align: center;
    background-color: #08a4cf;
    color:#ffffff;
    padding: 10px 0 10px 0;
    border-color: #ffffff;
    border-style: dotted;
}



.information {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border-color: #08a4cf;
    border-style: dotted;
    
}

body {
    background-color: #e7f5f9;
    font-family:Arial, Helvetica, sans-serif;
    margin: 50px 100px 50px 100px;
    
}

nav {
    background-color: #ffffff;
    text-align: justify;
    padding: 20px 20px 20px 20px;
    border-color: #08a4cf;
    border-style: dotted;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
